@import url('global.css');

/*Back to top button*/
#back-to-top-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 25;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color:#e97725 ;
    color: #fff;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus{
    background-color:#fff ;
    color: #e97725;
    border: 3px solid #e97725;
}
 /*Button animations*/
 .btnEntrance{
     animation-duration: 0.5s;
     animation-fill-mode: both;
     animation-name: btnEntrance;
 }
 /* zoom in*/
 @keyframes btnEntrance {
     from{
         opacity: 0;
         transform: scale3d(0.3,0.3,0.3);
     }
     to{
         opacity: 1;
     }
 }
 .btnExit{
     animation-duration: 0.25s;
     animation-fill-mode: both;
     animation-name: btnExit;
 }
 /*zoom out*/
 @keyframes btnExit {
     from{
         opacity: 1;
     }
     to{
         opacity: 0;
         transform: scale3d(0.3,0.3,0.3);
     }
 }


 /*Welcome section*/
.welcome-section{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.text-box{
    padding: 1rem;
}
.picture{
    width: 28%;
    z-index: 2;
}
.text-on-top{
    font-size: 60px;
    color: snow;
    z-index: 2;

}
.Name{
    color: snow;
    font-size: 50px;
    transition: all 0.5s;
    z-index: 2;

}
.bigbox{
    position: absolute;
    right: 200px;
    z-index: 0;
    text-align: end;
    background-color: #e97725;
    width: 70%;
    transform: translateX(-200%);
    transition: all 0.8s;
}
.textinside{
    font-family: monospace;
    padding: 0.5rem 10rem 0 0.5rem;
    letter-spacing: 5px;
    color: snow;
    font-size: 1.5rem;
    font-weight: 800;
}
.welcome-section:hover .bigbox{
    transform: translateX(0%)
}
.welcome-section:hover .Name{
    font-size: 52px;
    color: #e97725;
    font-weight: 800;
    letter-spacing: 5px;
}
.scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrolldown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height:100% ;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1){
    transform: translate(-15px,-15px);
    animation-delay: -0.3s;
}
.scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
}
.scrolldown span:nth-child(3){
    transform: translate(15px,15px);
    animation-delay: -0.1s;
}

@keyframes animate{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100%{
        top: 5px;
        left: 5px;
        opacity: 1;
    }
}
/*Ends Welcome section*/
